@import "../../../variables";

body {
  font-family: $theme-font-family;
  margin: 0;
}

.app {

  $app-padding: 8px;

  position: absolute;
  top: $app-padding;
  right: $app-padding;
  bottom: $app-padding;
  left: $app-padding;

}

.sidebar-nav .rubix-icon {
  text-align: center ! important;
}

.rubix-panel-container-with-controls.full-screen {

  .rubix-panel-container {

    margin-bottom: 0;

    .rubix-panel-body {
      height: calc(100vh - 125px);
    }
  }
}

#sidebar-container {
  top: 80px ! important;
}

#rubix-nav-header > .container-fluid {
  padding: 0 ! important;
}

.navbar-brand {
  font-size: 30px ! important;
  white-space: nowrap;
  color: white ! important;
}

.navbar-right {
  float: right ! important;
}

.online-status {
  color: $default-color;
  padding: 14px 0;
  font-size: 27px;
  height: 75px;

  &.online {
    color:  $theme-color;
  }
}

* {
  transition: initial ! important;
}

.rubix-panel-container {
  border-top-left-radius: $theme-border-radius;
  border-top-right-radius: $theme-border-radius;

  .rubix-panel-header {
    background-color:  $theme-color !important;
    h4 {
      font-family: $theme-font-family;
    }
  }

  .rubix-panel-header {
    border-radius: 0 !important;
  }
}

.navbar-header {
  .product-name {
    float: left;
    margin-right: 5px;
  }
  .powered-by {
    font-size: 15px;
    a {
      color: $theme-color;
    }
  }
}

.navbar-nav > .sidebar-btn > a {
  background: $theme-color !important;
  &:hover {
    background: lighten($theme-color, 15%) !important;
  }
}