$loader-size: 200px;

body {
	font-family: sans-serif;
}

.loader {

	margin: 200px auto;
	width: $loader-size;

	svg {
		stroke: #7598B6;
		width: $loader-size;
		height: $loader-size;
	}
}

.status {

	float: right;

	.online {
		color: green;
	}

	.offline {
		color: red;
	}
}
