
body {
	font-family: sans-serif;
	margin: 0;
}

.app {

	$app-padding: 8px;

	position: absolute;
	top: $app-padding;
	right: $app-padding;
	bottom: $app-padding;
	left: $app-padding;

	.loader {

		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		svg {
			stroke: #7598B6;
			width: 20vh;
			height: 20vh;
		}
	}

	.status {

		float: right;

		.online {
			color: green;
		}

		.offline {
			color: red;
		}
	}
}
