/**
 * Nucleo style variables
 */
$theme-font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$theme-color: #00A4EA;
$default-color: #89949B;
$theme-border-radius: 0;