
.temperature-chart-container {
	
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	h1 .status {

		.online {
			color: green;
		}

		.offline {
			color: red;
		}
	}

	.temperature-chart-params {
		float: right;
		width: 200px;
		margin-top: 60px;
		font-size: small;
	}

	.temperature-chart {

		position: absolute;
		top: 70px;
		right: 200px;
		bottom: 0;
		left: 0;

		svg {
			font: 10px sans-serif;
		}

		.area {
			fill: steelblue;
			clip-path: url(#clip);
		}

		.line {
			stroke: steelblue;
			stroke-width: 3px;
			fill: none;
			clip-path: url(#clip);
		}

		.line.weather {
			stroke: #8BC34A;
			stroke-width: 2px;
		}

		.axis path,
		.axis line {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}

		.y.axis {
			.tick line, .domain {
				opacity: .2;
			}
		}

		.brush .extent {
			stroke: #fff;
			fill-opacity: .125;
			shape-rendering: crispEdges;
		}

		circle.marker {
			fill: #B93535;
			stroke: #E69090;
		}

		.tooltip, .city-label {
			position: absolute;
			display: none;
			font-size: small;
			background-color: #4682B4;
			padding: 4px 6px;
			color: white;
			border: 1px solid white;
			border-radius: 4px;
			pointer-events: none;
		}

		.tooltip.marker {
			background-color: #B93535;
			border-color: #B93535;
		}

		.city-label {
			background-color: #8BC34A;
			right: 15px;
			border-radius: 2px;
			padding: 0 3px;
		}

		.focus-bg {
			opacity: 0;
		}

		.focus-cursor {
			stroke: black;
			stroke-width: 1px;
			stroke-opacity: .3;
			shape-rendering: crispEdges;
			visibility: hidden;
		}

		.context-marker {
			stroke: #B93535;
			shape-rendering: crispEdges;
		}
	}
}
